extends structure/_layout.pug

block title
	title Ana Tudor :: Hire Me!

block content

	main
  
		h2 Hire Me!
		
		p ... if you're looking for someone to code or improve logos, loaders, widgets, form controls and other such small things! That's exactly what I do and  I take great pride in what I produce - it's clever, clean, DRY, easily extensible and maintainable code.
		
		p ... if you're looking for someone to run a workshop on cutting edge CSS topics, clever coding, understanding SVG or even more mathy topics.
		
		p However, if you're looking for someone to do animation design or any kind of design, I am not the right person. I have an Electronics and Mathematics background and absolutely no artistic sense.
		
		p I also don't take on big assignments (full web pages) or assignments far in the future.
		
		p If you still think you can use my services, you can <a class='link_hire' href='https://codepen.io/thebabydino/#hireme'>contact me using this form</a>. I usually answer within a day, except for the times when I take days off to go to concerts.