extends structure/_layout.pug

block title
	title Ana Tudor :: Posts + Talks

block content

	main
		
		h2 Posts + Talks
		
		p I've written for CSS-Tricks, Smashing Magazine and more. My articles are usually in-depth ones, with lots of step-by-step examples, interactive demos, illustrations or annotated screenshot collages.
		
		p I've also given some talks in the past, usually very visual ones, with a lot of live coding.
		
		p You can find a list below (I've left out anything not available online and free).
		
		ul
			
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/simplifying-apple-watch-breathe-app-animation-css-variables/') Simplifying the Apple Watch Breathe App Animation With CSS Variables
					span.item__date Jan 2018
					span.item__tags
						span css
						span variables
			
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/sliding-nightmare-understanding-range-input/') A Sliding Nightmare: Understanding the Range Input
					span.item__date Dec 2017
					span.item__tags
						span browser
						span css
						span controls
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/creating-star-heart-animation-svg-vanilla-javascript/') Creating a ⭐️ to ❤️ Animation with SVG and Vanilla JS
					span.item__date Nov 2017
					span.item__tags
						span js
						span svg
						span maths
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/emulating-css-timing-functions-javascript/') Emulating CSS Timing Functions with Vanilla JS
					span.item__date Oct 2017
					span.item__tags
						span js
						span maths
						span animation
						span variables
						span svg
				
			li.item
				p.item__original
					a.talk(href='https://codepen.io/thebabydino/project/full/ZKwajN/') KISS @ CodePenDay Hamburg
					span.item__date Sep 2017
					span.item__tags
						span css
						span variables				
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/evil-please-dont-modals-overlays-edition/') How to be Evil (But Please Don't!) - Modals and Overlays Edition
					span.item__date Jul 2017
					span.item__tags
						span js
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/glue-cross-browser-responsive-irregular-images-sticky-tape/') Glue Cross-Browser Irregular Images with Sticky Tape
					span.item__date Jul 2017
					span.item__tags
						span css
						span js
						span svg
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/creating-yin-yang-loaders-web/') Creating ☯ Loaders On the Web
					span.item__date Jun 2017
					span.item__tags
						span css
						span js
						span canvas
						span svg
						span variables
						span loader
				
			li.item
				p.item__original
					a.talk(href='https://css-tricks.com/solving-last-item-problem-circular-distribution-partially-overlapping-items/') Solve Last Item Problem for a Circular Distribution with Partially Overlapping Items
					span.item__date May 2017
					span.item__tags
						span css
						span distribution
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/simplifying-css-cubes-custom-properties/') Simplifying CSS Cubes with Custom Properties
					span.item__date May 2017
					span.item__tags
						span 3d
						span css
						span variables
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/creating-star-heart-animation-svg-vanilla-javascript/') Methods for Contrasting Text Against Backgrounds
					span.item__date May 2017
					span.item__tags
						span css
						span blending
						span text
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/animate-different-end-states-using-one-set-css-keyframes/') Animate to Different End States Using One Set of CSS Keyframes
					span.item__date Jan 2017
					span.item__tags
						span css
						span animation
				
			li.item
				p.item__original
					a.talk(href='https://css-tricks.com/state-responsive-3d-shapes/') The State of Responsive 3D Shapes
					span.item__date Nov 2016
					span.item__tags
						span css
						span 3d
						span responsive
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/things-watch-working-css-3d/') Things to Watch Out for when Working with CSS 3D
					span.item__date Sep 2016
					span.item__tags
						span css
						span 3d
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/state-css-reflections/') The State of CSS Reflections
					span.item__date Jul 2016
					span.item__tags
						span css
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/recreating-the-twitter-heart-animation/') Recreating the Twitter Heart Animation (No Sprites, No JavaScript)
					span.item__date Jun 2016
					span.item__tags
						span css
				
			li.item
				p.item__original
					a.talk(href='https://css-tricks.com/the-backgound-clip-property-and-use-cases/') the <code>background-clip</code> property and its use cases
					span.item__date Jan 2016
					span.item__tags
						span css
						span controls
				ul.item__translations
					li.ru
						a(href='http://css-live.ru/articles-css/background-clip-use-cases.html') Russian
					li.fr
						a(href='https://www.smashingmagazine.com/2015/12/getting-started-css-calc-techniques/') French
			
			li.item
				p.item__original
					a.article(href='https://www.smashingmagazine.com/2015/12/getting-started-css-calc-techniques/') Getting Started with CSS <code>calc()</code>
					span.item__date Dec 2015
					span.item__tags
						span css
				
			li.item
				p.item__original
					a.psa(href='http://codepen.io/thebabydino/full/pjxVWp/') Don't Use Gradient Generators
					span.item__date Nov 2015
					span.item__tags
						span css
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/why-do-we-have-repeating-linear-gradient-anyway/') Why Do We Have <code>repeating-linear-gradient</code> Anyway?
					span.item__date Sep 2015
					span.item__tags
						span css
				
			li.item
				p.item__original
					a.talk(href='https://css-tricks.com/how-i-live-coded-my-most-hearted-codepen-demo/') How I Live Coded My Most Hearted Pen
					span.item__date Sep 2015
					span.item__tags
						span css
						span 3d				
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/tight-fitting-svg-shapes/') Tight Fitting SVG Shapes, Present and Future
					span.item__date Aug 2015
					span.item__tags
						span svg
						span maths
				
			li.item
				p.item__original
					a.article(href='https://css-tricks.com/transforms-on-svg-elements/') Transforms on SVG Elements
					span.item__date May 2015
					span.item__tags
						span svg
						span maths
				
			li.item
				p.item__original
					a.article(href='https://davidwalsh.name/ana-tudors-favorite-codepen-demos') Top CodePen Demos
					span.item__date Mar 2015
					span.item__tags
						span js
						span canvas
						span svg
				
			li.item
				p.item__original
					a.talk(href='https://css-tricks.com/cutting-inner-part-element-using-clip-path/') Cutting Out the Inner Part of an Element Using <code>clip-path</code>
					span.item__date Jan 2015
					span.item__tags
						span css
						span svg
				
			li.item
				p.item__original
					a.article(href='https://davidwalsh.name/invert-color-sass') Emulate the <code>invert()</code> Filter Effect with Sass
					span.item__date Oct 2014
					span.item__tags
						span sass
				
			li.item
				p.item__original
					a.article(href='https://davidwalsh.name/detect-invert-color') Get CSS <code>invert()</code> Filter Result with JavaScript
					span.item__date Oct 2014
					span.item__tags
						span js
						span css
				
			li.item
				p.item__original
					a.talk(href='https://www.youtube.com/watch?v=ehjoh_MmE9A') CSS: Use and Abuse
					span.item__date Sep 2014
					span.item__tags
						span css
				
			li.item
				p.item__original
					a.podcast(href='http://thewebplatform.libsyn.com/mathematics-dynamic-css-visualizations') Maths and Dynamic CSS Visuals
					span.item__date Sep 2014
					span.item__tags
						span css
						span maths
				
			li.item
				p.item__original
					a.talk(href='https://vimeo.com/98137613') 3D Transforms
					span.item__date Jun 2014
					span.item__tags
						span css
						span 3d
						span maths
				
			li.item
				p.item__original
					a.article(href='http://thesassway.com/advanced/inverse-trigonometric-functions-with-sass') Inverse Trigonometric Functions with Sass
					span.item__date Jun 2014
					span.item__tags
						span sass
						span maths
				
			li.item
				p.item__original
					a.talk(href='https://vimeo.com/100887653') Pure CSS 3D Solids
					span.item__date May 2014
					span.item__tags
						span css
						span maths
			
			li.item
				p.item__original
					a.article(href='https://davidwalsh.name/3d-transforms') How Nesting 3D Transformed Elements Works
					span.item__date Feb 2014
					span.item__tags
						span css
						span 3d
				
			li.item
				p.item__original
					a.talk(href='https://www.youtube.com/watch?v=GeBM8qaJXCE') Stunning Visuals with Maths and... No Javascript?
					span.item__date Nov 2013
					span.item__tags
						span css
						span sass
						span maths
				
			li.item
				p.item__original
					a.talk(href='https://www.youtube.com/watch?v=w9HeWBH_kvg') Maths-Powered Transforms for Creating 3D Shapes
					span.item__date Sep 2013
					span.item__tags
						span css
						span 3d
						span maths
				
			li.item
				p.item__original
					a.article(href='http://hugogiraudel.com/2013/02/04/css-gradients/') Dig Deep into CSS <code>linear-gradient()</code>
					span.item__date Jan 2013
					span.item__tags
						span css
						span maths