@charset 'UTF-8';

$c: lightskyblue;

/* general */
*, :before, :after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #000;
	color: #fff;
	font: 112.5%/1.5 trebuchet ms, verdana, sans-serif;
}

header, footer {
	background: #222;
	text-align: center;
}

main > p, ul { margin: 1em; }

li {
	margin: .25em 0;
	list-style: none;
}

a {
	color: $c;
	text-decoration: none;

	main &, footer &:not([class*='button']) {
		&:hover, &:focus {
			background: #eee;
			color: navy;
		}
	}
}

code {
	font-size: 1.25em;
	font-weight: 700;
}


/* header */
header {
	font-variant: small-caps;
	text-transform: capitalize;
}

nav {	
	* {
		box-sizing: border-box;
		display: inline-block;
		height: 2em;
	}
	
	li {
		margin: .125em 0;
	}
	
	a, span {
		overflow: hidden;
		position: relative;
		
		&:before, &:after {
			position: absolute;
			background: currentColor;
			transition: .3s;
			content: ''
		}
	}
	
	a {		
		&:before, &:after {
			left: 0;
			width: 100%; height: .125em;
		}
		
		&:before { transform: translate(100%) }
		
		&:after {
			bottom: 0;
			transform: translate(-100%);
		}
		
		&:hover, &:focus, &.current {
			&:before, &:after, :before, :after {
				transform: none;
			}
		}
	}
	
	span {
		padding: .25em .5em;
		
		&:before, &:after {
			top: 0;
			width: .125em; height: 100%;
		}
		
		&:before {
			left: 0;
			transform: translateY(-100%);
		}
		
		&:after {
			right: 0;
			transform: translateY(100%);
		}
	}
}

/* main */
main {
	flex: 1;
	margin: 0 auto;
	max-width: 50em;
}

.item {
	&:before {
		display: inline-block;
		margin-left: .125em;
		width: 1.5em;
		text-align: center;
	}

	&--article {
		&:before { content: '\1F5BA'; }
	}

	&--psa {
		&:before { content: '\1F5B9'; }
	}

	&--talk {
		&:before { content: '\1F4BB'; }
	}

	&--podcast {
		&:before { content: '\1F50A'; }
	}

	&__original { display: inline-block; }

	&__date {
		&:before {
			display: inline-block;
			margin-right: .25em;
			content: '\1F4C5';
		}
	}

	&__tags {
		span {
			display: inline-block;
			margin: 0 .125em;
			padding: 0 .5em;
			border-radius: 3px;
			background: $c;
			color: #000;
		}
	}

	&__translation {
		&--ru:before { content: '\1F1F7\1F1FA'; }
		&--fr:before { content: '\1F1EB\1F1F7'; }
	}
}


/* footer */
.button--twitter {
	display: inline-block;
	margin: .25em;
	border: solid 0 #0C7ABF;
	border-width: .125em .5em;
	padding-left: 1.5em;
	border-radius: .25em;
	background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E') 
		no-repeat padding-box #0C7ABF;
	color: white;
}