body {
	margin: 0 auto;
	max-width: 57em;
	font: 1.25em/1.5 trebuchet ms, verdana, sans-serif;
}

figure, pre {
	padding: .5em;
	background: #f3f3f3;
}

figcaption { text-align: center; }

code {
	display: inline-block;
	padding: 2px 4px;
	background: #f3f3f3;
	font: 1.05em courier;
}

var { font-family: times new roman, serif }