body {
	--hs: 0, 0%;
	--l: 100%;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0 .5em;
	max-width: 900px;
	background: hsl(var(--hs), var(--l));
	font: 22px/1.45 lato, lucida grande, lucida sans unicode, tahoma, sans-serif;
}

figure, pre, code {
	background: hsl(var(--hs), calc(var(--l) - 7%));
}

figure, pre {
	padding: .5em;
	tab-size: 4;
}

code { font: 1em monospace; }

pre { font: 1em consolas, monaco, monospace }

figcaption { text-align: center; }

img { background: #fff; }

code {
	display: inline-block;
	padding: 2px 4px;
	font-weight: inherit;
	white-space: nowrap;
}

.note {
	--hs: 54, 100%;
	--l: 90%;
	border: solid 2px orange;
	padding: .5em;
	background: hsl(var(--hs), var(--l));
}