@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$theme-bg: #000;
$theme-hl: #e97f02;
$theme-fg: #fff;
$theme-gd: #f8ca00, #490a3d, #8a9b0f, #bd1550;

$strip-wd: 3.5rem;
$strip-df: .875;

$icon-dim: 1.5em;

$t: .7s;

* { box-sizing: inherit; margin: 0; padding: 0; color: inherit; font: inherit }

article, section { display: block; width: 100% }

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
	min-width: 10rem; min-height: 100vh;
	background: $theme-bg;
	color: $theme-fg;
	font: 1em/ 1.375 trebuchet ms, verdana, sans-serif
}

header {
	--head-off: 50vw;
	--head-fs0: 2em;
	--head-fs1: 3.5vw;
	overflow: hidden;
	text-align: center
}

h1 {
	display: flex;
	align-items: stretch;
	justify-content: center;
	position: relative;
	box-shadow: inset 0 0 2px 1px $theme-bg;
	background: linear-gradient(90deg, #000, transparent 15%, transparent 85%, #000) 50%/ 1500px 100%,
		url(/images/header.png) 50% no-repeat;
	font: 700 calc(var(--head-fs0) + var(--head-fs1))/ 1.5 dancing script, trebuchet ms;
	
	&:before, &:after {
		--i: 1;
		position: absolute;
		left: -100%; top: 0;
		width: 300%; height: 100%;
		transform: skewx(15deg);
		background: linear-gradient(90deg, $theme-bg $strip-wd, transparent 0) calc(50vw + var(--i)*#{.5*$strip-df*$strip-wd}) 0/ #{2*$strip-df*$strip-wd};
		--m: linear-gradient(calc(90deg*(1 - var(--i))), transparent 33.333%, #000 66.667%) 50% calc(50%*(1 - var(--i)))/ 100% 300% no-repeat;
		-webkit-mask: var(--m);
						mask: var(--m);
		filter: blur(1px);
		transition: all .7s linear, opacity .7s ease-out;
		content: ''
	}
	
	&:after { --i: -1 }
	
	a {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		padding: 0 .5em;
		color: $theme-fg;
		transition: $t ease-out;
		transition-property: transform, color, filter;
		
		&:hover, &:focus {
			outline: none;
			color: mix($theme-hl, $theme-fg);
			filter: blur(1px)
		}
	}
}

a {
	color: $theme-hl;
	text-decoration: none
}

nav {
	border: solid 0 $theme-hl;
	border-width: .25em 0;
	border-image: linear-gradient(90deg, $theme-gd) 100 100;
	padding: .25em 0 .125em;
	font-size: 1.5em;
	color: $theme-hl;
	
	a {
		display: block;
		--pos: calc(var(--i, 1)*100%);
		background: linear-gradient(var(--a, 45deg), $theme-fg 50%, $theme-hl 0) var(--pos) var(--pos)/ 300% 300%;
		-webkit-background-clip: text;
						background-clip: text;
		color: transparent;
		line-height: 2;
		transition: background-position .5*$t ease-out;
		
		&:focus, &:hover { --i: 0 }
	}
}

main {
	margin: 1em auto;
	padding: 0 5vw;
	max-width: 60rem;	
	font-size: 1.25em;
}

h2 {
	padding: .5em 0 .125em;
	font-size: 2em;
	line-height: 1.5;
}

h3 {
	font-size: 1.5em;
	
	:not(h2) + & { padding-top: 1em }
}

p {
	padding: .75em 0;
	
	a {
		transition: $t ease-out;
		transition-property: background, color;
		
		&:focus, &:hover {
			background: mix($theme-hl, $theme-bg);
			color: $theme-fg
		}
	}
}

em { font-style: italic }

code {
	font-family: courier new, monospace;
	font-weight: 900
}

.bulleted {
	padding-left: 1em;
}

li {
	line-height: 2
}

.item {
	padding: .25em 0;
	list-style: none;
	line-height: 1.375;
	
	a {
		display: block;
		margin-bottom: .5em;
	}
		
	&__date {
		white-space: nowrap;
		
		&:before {
			display: inline-block;
			margin: 0 .25em 0 .75em;
			content: '\1F4C5'
		}
	}
	
	&__tags {
		span {
			display: inline-block;
			margin: 0 .5em;
			padding: 0 .5em;
			border-radius: 3px;
			box-shadow: 0 0 0 2px mix($theme-fg, $theme-hl);
		}
	}
}

.icn {
	display: inline-block;
	margin-right: .25em;
	width: $icon-dim; height: $icon-dim;
	vertical-align: middle;
}

.demos {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	list-style: none;
	width: inherit;
}

.demo {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: .5em;
	width: 100%; max-width: 32rem;
	
	h4 {
		overflow: hidden;
		padding: 0 .5em;
		background: rgba($theme-fg, .1);
		font-size: 1.25em;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	
	video, img {
		width: 100%;
		height: auto;
		background: $theme-fg;
	}
	
	section {
		display: flex;
		align-items: center;
		padding: 0 .25em;
		background: rgba(mix($theme-fg, $theme-hl), .2);
	}
	
	&__time {
		flex: 1;
		align-items: center;
		
		&:before {
			margin-right: .25em;
			content: '\023F1'
		}
	}
	
	a {
		display: flex;
		align-items: center;
		overflow: hidden;
		margin-left: .5em;
		width: $icon-dim; height: $icon-dim;
		
		span { width: 0 }
	}
	
	.icn { flex: 1 }
	
	dl {
		--def-term: 4.25em;
		padding: .5em 0;
		line-height: 1.375
	}
	
	dt {
		color: mix($theme-fg, $theme-bg, 75%);
		font-weight: 900;
		
		&:after { content: ':' }
	}
	
	dd {
		margin-bottom: .25em;
		border-bottom: 1px solid rgba($theme-fg, .5);
		padding-bottom: .25em
	}
}

footer {
	padding: 1em;
	background: $theme-hl;
	text-align: center;
}

@media (min-width: 23.5em) {	
	nav {
		padding: .625em 0 .5em;
		
		a {
			display: inline-block;
			padding: .125em 2vw;
		}
	}
}

@media (min-width: 32em) {	
	.demo {
		a {
			overflow: visible;
			width: auto;
			
			span { width: auto; }
		}
		
		dl {
			display: flex;
			flex-wrap: wrap
		}

		dt {
			margin-bottom: .25em;
			border-bottom: 1px solid rgba($theme-fg, .5);
			padding: 0 .25em .25em 0;
			width: var(--def-term);
			text-align: right
		}

		dd {
			width: calc(100% - var(--def-term))
		}
	}
}

@media (min-width: 50em) {
	@media (min-height: 35em) {
		h1 {
			height: 32vw; max-height: 29rem;
			
			&:before, &:after {
				opacity: 0;
				-webkit-mask-position: 50% calc(50%*(1 - 3*var(--i)));
								mask-position: 50% calc(50%*(1 - 3*var(--i)))
			}
			
			a {
				transform: translate(calc(50% - var(--head-off) + 1rem), calc(50% + 3rem));
			}
		}
		
		nav {
			padding-right: calc(50vw - var(--head-off));
			padding-left: calc(3.9*(var(--head-fs0) + var(--head-fs1)) + 50vw - var(--head-off))
		}
	}
	
	main { padding: 0 10vw }
}

@media (min-width: 65em) {
	header { 
		--head-off: 32.5rem;
		--head-fs0: 4.25rem;
		--head-fs1: 0vw;
	}
	
	.demo { width: 47% }
}